include README.md
include bin/evosuite-1.0.6.jar
include bin/evosuite-standalone-runtime-1.0.6.jar
include bin/hamcrest-core-1.3.jar
include bin/jmockit-1.40-marcio.1.jar
include bin/junit-4.12.jar
include bin/randoop-all-4.0.3.jar