include README.md
include hunor/tools/bin/commons-io-2.4.jar
include hunor/tools/bin/evosuite-1.0.6.jar
include hunor/tools/bin/evosuite-standalone-runtime-1.0.6.jar
include hunor/tools/bin/hamcrest-core-1.3.jar
include hunor/tools/bin/jmockit-1.40-marcio.1.jar
include hunor/tools/bin/junit-4.12.jar
include hunor/tools/bin/mujava.jar
include hunor/tools/bin/openjava.jar
include hunor/tools/bin/randoop-all-4.0.3.jar

include hunor/tools/bin/major
include hunor/tools/bin/major/bin/ant
include hunor/tools/bin/major/bin/javac
include hunor/tools/bin/major/bin/mmlc
include hunor/tools/bin/major/config/config.jar
include hunor/tools/bin/major/lib/ant.jar
include hunor/tools/bin/major/lib/ant-antlr.jar
include hunor/tools/bin/major/lib/ant-apache-bcel.jar
include hunor/include hunor/tools/bin/major/lib/ant-apache-bsf.jar
include hunor/tools/bin/major/lib/ant-apache-log4j.jar
include hunor/tools/bin/major/lib/ant-apache-oro.jar
include hunor/tools/bin/major/lib/ant-apache-regexp.jar
include hunor/tools/bin/major/lib/ant-apache-resolver.jar
include hunor/tools/bin/major/lib/ant-apache-xalan2.jar
include hunor/tools/bin/major/lib/ant-bootstrap.jar
include hunor/tools/bin/major/lib/ant-commons-logging.jar
include hunor/tools/bin/major/lib/ant-commons-net.jar
include hunor/tools/bin/major/lib/ant-contrib.jar
include hunor/tools/bin/major/lib/ant-jai.jar
include hunor/tools/bin/major/lib/ant-javamail.jar
include hunor/tools/bin/major/lib/ant-jdepend.jar
include hunor/tools/bin/major/lib/ant-jmf.jar
include hunor/tools/bin/major/lib/ant-jsch.jar
include hunor/tools/bin/major/lib/ant-junit.jar
include hunor/tools/bin/major/lib/ant-junit4.jar
include hunor/tools/bin/major/lib/ant-launcher.jar
include hunor/tools/bin/major/lib/ant-netrexx.jar
include hunor/tools/bin/major/lib/ant-swing.jar
include hunor/tools/bin/major/lib/javac.jar
include hunor/tools/bin/major/lib/junit-4.11.jar
include hunor/tools/bin/major/lib/mmlc.jar
include hunor/tools/bin/major/lib/rt.jar
include hunor/tools/bin/major/mml/all.mml
include hunor/tools/bin/major/mml/all.mml.bin
include hunor/tools/bin/major/mml/tutorial.mml
include hunor/tools/bin/major/mml/tutorial.mml.bin